<?xml version="1.0"?>
<launch>

    <arg name="topic_loc" default="$(find hlpr_record_demonstration)/data/topics.yaml"/>

    <!-- Start the demonstration recording action server -->
    <node name="demo_record_server" pkg="hlpr_record_demonstration" type="record_demonstration_action_server.py" respawn="false" output="screen" >
        <param name="yaml_loc" value="$(arg topic_loc)"/>
    </node>

    <!-- Start the EEF publisher node -->
    <node name="eef_pub" pkg="hlpr_record_demonstration" type="eef_publisher.py" respawn="false" output="screen" />

</launch>
