<?xml version="1.0"?>
<launch>

    <arg name="eef_link" default="/right_ee_link"/>
    <arg name="topic_loc" default="$(find hlpr_record_demonstration)/data/topics.yaml"/>
    <arg name="data_folder_loc" default="~/"/>
    <arg name="data_folder_name" default="data"/>
    <arg name="data_prefix" default="demo"/>

    <!-- Start the demo recording and eef publisher -->
    <include file="$(find hlpr_record_demonstration)/launch/start_record_services.launch">
        <arg name="eef_link" value="$(arg eef_link)"/>
        <arg name="topic_loc" value="$(arg topic_loc)"/>
    </include>

    <!-- Start the basic kinesthetic interaction server -->
    <include file="$(find hlpr_kinesthetic_interaction)/launch/start_kinesthetic_mode.launch">
        <arg name="data_folder_loc" value="$(arg data_folder_loc)"/>
        <arg name="data_folder_name" value="$(arg data_folder_name)"/>
        <arg name="data_prefix" value="$(arg data_prefix)"/>
    </include> 

</launch>
