<?xml version="1.0"?>
<launch>

    <!-- Location for your data storage. NOTE: path will be created for you -->
    <arg name="data_folder_loc" default="~/"/>
    <!-- Folder name for data storage. NOTE: path will be created for you -->
    <arg name="data_folder_name" default="data"/>
    <!-- prefix before filenames to append -->
    <arg name="data_prefix" default="demo"/>
    <!-- What kind of FT gravity comp used: force or torque -->
    <arg name="ft_type" default="torque"/>
    <!-- What arm are you using (has to be exact name): jaco_arm, jaco_7dof_arm-->
    <arg name="arm_name" default="jaco_arm"/>

    <!-- Set the global rosparam name for arm name -->
    <param name="/kteach/arm_name" type="string" value="$(arg arm_name)"/>

    <!-- Start the basic kinesthetic interaction server -->
    <node name="basic_kinesthetic_interact" pkg="hlpr_kinesthetic_interaction" type="basic_kinesthetic_interaction.py" respawn="false" output="screen" >
        <param name="data_folder_loc" value="$(arg data_folder_loc)" type="string"/>
        <param name="data_folder_name" value="$(arg data_folder_name)" type="string"/>
        <param name="data_prefix" value="$(arg data_prefix)" type="string"/>
        <param name="ft_control_type" value="$(arg ft_type)" type="string"/>
    </node>

</launch>
